
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'lato';
    background: #000;
    padding: 0;
    margin: 0;
}

/* styles.css */
.container {
    background-image: url(pari.jpg); /* Replace 'background-image.jpg' with your image file path */
    background-size: cover; /* Adjust as needed (cover, contain, auto, etc.) */
    background-position: center center; /* Adjust the position of the image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    /* You can also set other styles for your container */
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
}

 

.button-anon-pen {
    width: 200px;
    background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    top: 20vh;
    font-weight: normal;
    border-radius: 6px;
    overflow: hidden;
}

.button-anon-pen:hover {
    -webkit-animation: play 1.6s ease-in infinite;
}

.button-anon-pen span {
    padding: 14px 0;
    font-size: 22px;
    display: block;
    margin: 3px;
    background: #000;
    border-radius: 3px;
}

@-webkit-keyframes play {
    0% {
        background-position: 0px;
    }
    20% {
        background-position: -110px;
    }
    35% {
        background-position: -180px;
    }
    50% {
        background-position: -210px;
    }
    80% {
        background-position: -350px;
    }
    100% {
        background-position: -390px;
    }
}
/**
.images{
    border: white;
    text-align: center;
}
.heading{
    color: rgb(252, 255, 255);
    font-size: 24px;
    text-align: center;
}**/


h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.team-pic{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.team{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.team .name, .team .detail{
	font-size: 18px;
}

.team:hover img{
	scale:  1.1;
}

.team:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.team img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.team a:link, .team a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.team a:hover{
	transform: scale(1.1);
}

